html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.introduction {
    font-family: "QingYuan";
    color: #51637F;
    position: absolute;
    top: 5%;
    left: 10%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../pictures/2-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: left top;
    /* overflow-y:hidden; */
}

.drawing-board {
    background: url("../pictures/2-2.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    float: right;
    width:100%;
}
.svg{
    stroke: #a78e74;
    opacity: 0.5;
    position: absolute;
    top: 38%;
    left: 10%;
    stroke-linecap: round;
    animation: lineMove 7s ease-in-out forwards;
}
@keyframes lineMove {
    0% {
        stroke-dasharray: 0, 1500;
    }

    100% {
        stroke-dasharray: 1500, 1500;
        display:none;
    }
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 4%;
}

.button {
    margin:1% auto;
    width: 36%;
    font-size: 18px;
    font-family: "Microsoft YaHei Regular";
    color: #EAEAEA;
    text-align: center;
    border-radius: 10px;
}

.finish {
    background-color: #EA8C98;
    margin-bottom: 3%;
    height: 28.5px;
    width:  115px;
    color: #EAEAEA;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    text-align:center;
    outline: none;
    text-indent: 16px;
    letter-spacing: 16px;
}

.repaint {
    /* box-shadow: 0px 7px 18px 1px #00000094; */
    background-color: #A2C0EA;
    height: 28.5px;
    width:  115px;
    color: #EAEAEA;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    text-align: center;
    outline: none;
    letter-spacing: 16px;
    text-indent: 16px;
}

button {
    width: 51%;
    outline: none;
    background: transparent;
    border: none;
}

.color-select {
    display: flex;
    justify-content: space-around;
    width: 60%;
    position: absolute;
    top: 70%;
    left: 0;
    margin-left: 25%;
}

.color {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

#orange {
    background-color: #F7A44F;
}

#yellow {
    background-color: #F7ED4F;
}

#green {
    background-color: #C0F54E;
}

#blue1 {
    background-color: #4DF3E5;
}

#blue2 {
    background-color: #4C68F1;
}
.tips{
    color: #BEA991;
    font-size: 13px;
    width: auto;
    height: auto;
    position: absolute;
    top: 29%;
    right: 10%;
}

.select{
    border:3px solid #F7D2AC;
    height: 17px;
    width: 17px;
}
