html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background {
    background-image: url(../pictures/1-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden !important;
}

.train-picture {
    display: none;
}

.train-picture-move {
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 24%;
    background-image: url(../pictures/1-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: moveright 4s forwards;
    animation-timing-function: ease-out;
    overflow: hidden !important;
}

@keyframes moveright {
    from {
        left: -100%;
    }

    to {
        left: -40%;
        display: block;
    }
}

.cloud {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 15%;
    display: none;
}

#cloud1 {
    background-image: url("../pictures/1-3.png");
    position: relative;
    top: 12%;
    animation: slideInLeft 6s forwards;
    left: -50%;
    overflow: hidden !important;
}

#cloud2 {
    background-image: url("../pictures/1-4.png");
    position: relative;
    top: 16%;
    animation: slideInRight 7s forwards;
    left: 100%;
    overflow: hidden !important;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        display: block;
    }

    to {
        transform: translate3d(10%, 0, 0);
        display: block;
    }
}

@keyframes slideInRight {
    from {
        left: 100%;
        display: block;
    }

    to {
        left: 20%;
        display: block;
    }
}

.entrance {
    background-color: #EA8C98;
    color: #EAEAEA;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    text-align: center;
    outline: none;
    opacity: 0;
    display: none;
    margin: 0 auto;
    height: 31px;
    width: 115px;
    position: relative;
    top: 54%;
    animation: fadeInDown 4s forwards;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        top: 54%;
    }

    to {
        opacity: 1;
        top: 58%;
    }
}
