* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.title {
    padding-top: 15%;
    height: 14%;
    color: #51637F;
    font-size: 16px;
}

.background {
    background-image: url("../pictures/7-1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.containerr {
    display: flex;
    flex-direction: column;
    padding-right: 34px;
    padding-left: 34px;
}

.input-box {
    margin-top: 3%;
    height: 8%;
    width: 100%;
    color:#51637F;
}

input {
    height: 50%;
    width: 75%;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    outline: none;
    border-radius: 10px;
}

.message {
    line-height: normal;
    height: auto;
    width: 75%;
    resize: none;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    outline: none;
    border-radius: 10px;
}

.create-ticket {
    height: 28.5px;
    width:  115px;
    outline: none;
}

.create {
    background-color: #EA8C98;
    color: #EAEAEA;
    font-size: 15px;
    border-radius: 15px;
    margin: 3% auto;
}

.add {
    margin-top: 1%;
    margin-left: 0;
    margin-right:15%;
    float: right;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-image: url("../pictures/7-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.reduce {
    margin-top: 1%;
    margin-left: 0;
    margin-right: 15%;
    float: right;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-image: url("../pictures/7-3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.errmsg{
    height: 30px;
    color: red;
    font-size: 12px;
}
.text-errmsg{
    width: 26%;
    position: absolute;
    right: 0;
    bottom: 22%;
}