html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../pictures/3-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.success-pic {
    background-repeat: no-repeat;
    background-size: contain;
    height: 119pt;
    width: 82pt;
    margin: 0 auto;
    margin-top: 20%;
}

.success-text {
    width: 160pt;
    height: 18pt;
    background-repeat: no-repeat;
    background-size: contain;
    margin:7% auto;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
    display: none;
}


.button {
    font-family: "Microsoft YaHei Regular";
    color: #EAEAEA;
    height: 28.5px;
    width:  115px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    text-align: center;
    outline: none;
    background-color: transparent;
}

.write-information {
    background-color: #EA8C98;
    margin-bottom: 20px;
}

.reselect {
    background-color: #A2C0EA;
}
.introduction{
    width: auto;
    height: 13%;
    margin-bottom:5%;
    color:#9195A5;
}