html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../pictures/3-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.success-pic {
    background-repeat: no-repeat;
    background-size: contain;
    height: 119pt;
    width: 82pt;
    margin: 0 auto;
}

.success-text {
    width: 160pt;
    height: 18pt;
    background-repeat: no-repeat;
    background-size: contain;
    margin:10% auto;
    margin-bottom: 25%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 13%;
    justify-content: center;
}

button {
    margin: auto;
    height: 30%;
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
}

.button {
    font-family: "Microsoft YaHei Regular";
    color: #EAEAEA;
    width: 36%;
    height: 38.6%;
    text-align: center;
    font-size: 18px;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 12px;
}

.write-information {
    background-color: #EA8C98;
    margin-bottom: 6%;
}

.reselect {
    background-color: #A2C0EA;
}