*{
    margin:0;
    padding:0;
    height: 100%;
}
.title{
    margin-top: 15%;
    margin-left: 10%;
    height: 10%;
}
.container{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80%;
}
.input-box{
    margin-top: 15%;
    height: 5%;
}
input{
    width: 60%;
}
.message{
    line-height: normal;
    height: auto;
    width: auto;
    resize: none;
}
.create-ticket{
    width: 40%;
    height: 7%;
    margin-top: 2%;
    margin-left: 30%;
    outline: none;
}
.add{
    border:1px solid black;
    margin-top: 0;
    margin-left: 0;
    margin-right:30%;
    float: right;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}