* {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.station-picture {
    margin: auto;
    height: 60%;
    width: 80%;
    border: 1px solid rgb(80, 80, 80);
    background-color: antiquewhite;
}

.entrance {
    height: 10%;
    width: 30%;
}