* {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("../pictures/5-1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.success-pic {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 48%;
    width: 50%;
    height: 30%;
    width: 32%;
    height: 25.5%;
    margin-left: 8.5%;
    margin-right: 8.5%;
}

.success-text {
    text-align: center;
    width: 53%;
    height: 3%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30%;
}

button {
    margin: auto;
    height: 30%;
    width: 70%;
    border: none;
    outline: none;
    background-color: transparent;
}
.write-information{
    background-image: url("../pictures/5-3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:#EAEAEA;
    font-size: 18px;
    font-family: "Microsoft YaHei Regular";
}
.reselect{
    background-image: url("../pictures/5-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color:#EAEAEA;
    font-size: 18px;
    font-family: "Microsoft YaHei Regular";
}
